body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/robots.png);
  max-width: 100vw;
  color: whitesmoke;
}
.pipes {
  color: whitesmoke;
}
.titletop {
  font-size: 50px;
  color: whitesmoke;
}
.text {
  color: whitesmoke; 
}
#upload {
  margin-left: 15px;
}
.question-number {
  font-weight:bold;
  font-size: 20pt;
}
.survey-questions {
  margin-top: 10px;
}
a {
  color: #00B7FF;
}
.modal {
  color: black;
}
